.container {
  
  max-width: 600px;
  margin: auto;
}

.form-control {
  margin-bottom: 10px;
}

.dropdown-menu {
  width: 100%;
}

.customer-info h5{
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
}


